body {
    width: 95%;
    background: url(greet-the-final-battle-alone-illustration\ \(1\).jpg) no-repeat center fixed; 
    background-size: 100%;
    font-family: 'times';
    line-height: 1.50;
    color: white;
    background-blend-mode: darken;
  }



/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  width:70%; 
  height: 170%;
  margin-left: auto;
  margin-right: auto
  
}







  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.452);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(17, 17, 17);
  }
  
  .active {
    background-color: #ff0000ad;
  }



/* fim */





  .logo{
    width: 20%;
    margin-top: -65px;
    margin-left: 50px;
   
    
  }
  main {
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
  
  }
  .b{
    margin-top: 5px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 60px;
    background-color: #6b17188e;
    color: rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0);
  }
  .menu{
    text-align: center;
    background-color: #771b1d;
    height: 10%;
    width: 23%;
    border-radius: 6px;
    
    padding: 30px; 
  }

  img{
    border-radius: 1200px;
      display: block;
      width:30%; 
      height: 20%;
      margin-left: auto;
      margin-right: auto  
  }


   /*serve para da espaço*/
   h3{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 150px;
  
    border-style: double;
    border-width: 5px 5px 5px 5px;
    border-radius: 20px;
    color: rgba(255, 8, 8, 0);
    text-align: center;
    text-shadow: 2px 2px 4px #00000000;
    background-color:rgba(0, 0, 0, 0)
   }

     /*fim*/



     /*rodape*/
footer {
    
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 1, 1);
    width: 104%;
    height: 100%;    
    text-align: center;
    line-height: 40px;
}
  
  /*fim*/







.b{
  margin-top: 5px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 60px;
  background-color: #6b17188e;
  color: rgb(255, 0, 0);
  box-shadow: rgb(0, 0, 0);
}



.btn {

box-sizing: border-box;
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
background-color: transparent;
border: 2px solid #e74c3c;
border-radius: 0.6em;
color: #e74c3c;
cursor: pointer;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-self: center;
    -ms-flex-item-align: center;
        align-self: center;
font-size: 1rem;
font-weight: 400;
line-height: 1;
margin: 20px;
padding: 1.2em 2.8em;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}
.btn:hover, .btn:focus {
color: #fff;
outline: 0;
}


.third {
border-color: #db3434;
color: #fff;
box-shadow: 0 0 40px 40px #000000 inset, 0 0 0 0 #000000;
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
}
.third:hover {
box-shadow: 0 0 10px 0 #db3434 inset, 0 0 10px 4px #db3434;
}

