

    html { 
        background: url(a-person-facing-the-purgatory-world-illustration.jpg) no-repeat center fixed; 
        background-size: cover;
      }
    
    
    
    /* Style the top navigation bar */
    .topnav {
      overflow: hidden;
      background-color: #333;
      width:700%; 
      height: 170%;
      margin-left: auto;
      margin-right: auto
      
    }
    
    
    img.displayed {
        display: block;
        width:70%; 
        height: 70%;
        margin-left: auto;
        margin-right: auto
     
        
    }
    
    img{
      border-radius: 100px;
        display: block;
        width:70%; 
        height: 20%;
        margin-left: auto;
        margin-right: auto
    
    }
    
    
    
    
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.452);
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: rgba(0, 0, 0, 0.733);
      }
      
      .active {
        background-color: #ff0000;
      }
    
    
    
    
    
    
    
    
    
    
    
    
      footer {
        
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(255, 0, 0);
        width: 100%;
        height: 100%;    
        text-align: center;
        line-height: 40px;
    }
      
    
    
    h1{
      margin-top: 40px;
      margin-bottom: 40px;
      margin-right: 450px;
      margin-left: 450px;
    
    
      border-style: double;
      border-width: 5px 5px 5px 5px;
      border-radius: 20px;
      color: rgb(243, 243, 243);
      text-align: center;
      text-shadow: 2px 2px 4px #000000;
     
      background-color:rgba(0, 0, 0, 0.61)
     }
    
     h2{
      margin-top: 0px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 150px;
    
    
      border-style: double;
      border-width: 5px 5px 5px 5px;
      border-radius: 20px;
      color: rgb(0, 0, 0);
      text-align: center;
      text-shadow: 2px 2px 4px rgba(62, 18, 165, 0.842);
      background-color:rgba(163, 63, 146, 0.849)
      
     }
    
     h3{
      margin-top: 10px;
      margin-bottom: 30px;
      margin-right: 150px;
      margin-left: 150px;
    
      border-style: double;
      border-width: 5px 5px 5px 5px;
      border-radius: 20px;
      color: rgba(0, 0, 0, 0);
      text-align: center;
      text-shadow: 2px 2px 4px #00000000;
      background-color:rgba(0, 0, 0, 0)
     }