html { 
    background: url(barbara-froes-NGu2nCyuyEc-unsplash.jpg) no-repeat center fixed; 
    background-size: cover;
  }
  
  
  
  /* Style the top navigation bar */
  .topnav {
  overflow: hidden;
  background-color: #333;
  width:70%; 
  height: 170%;
  margin-left: auto;
  margin-right: auto
  
  }


  img.displayed {
    display: block;
    width:70%; 
    height: 700%;
    margin-left: auto;
    margin-right: auto
  
    
  }
  
  img{
    border-radius: 120px;
    display: block;
    width:20%; 
    height: 20%;
    margin-left: auto;
    margin-right: auto
  
  }
  
  
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(216, 57, 137, 0.452);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(231, 15, 220);
  }
  
  .active {
    background-color: #7954aa;
  }
    
/* fim */


h1{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 150px;
  
    border-style: double;
    border-width: 5px 5px 5px 5px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.788);
    text-align: center;
    text-shadow: 2px 2px 4px #913636;
    background-color:rgba(197, 177, 177, 0.486)
}



/*imagens responsivas*/

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid rgb(118, 22, 156);
}

div.gallery img {
  width: 80%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*fim*/


/*inicio das abas*/

.desc{
    background-color: #841fc79f;
  }
  
  
  
  
  
  .center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  

  /*fim*/














/*rodape*/
  footer {
  
    bottom: 0;
    background-color: rgba(197, 37, 149, 0.5);
    color: #FFF;
    width: 100%;
    height: 10%;    
    text-align: center;
    line-height: 40px;
  }
  
  /*fim*/


  /*serve para da espaço*/
  h3{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 150px;
  
    border-style: double;
    border-width: 5px 5px 5px 5px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    text-shadow: 2px 2px 4px #00000000;
    background-color:rgba(0, 0, 0, 0)
   }

     /*fim*/